<nav>
    <div class="site-title">
      <a href="/"><h1>PAYMENTS APPLICATION</h1></a>
      <p>A Payments methods site</p>
    </div>
    <ul>
      <li><a id="cashOption" href="/cashform">Cash</a></li>
    </ul>
  </nav>
